In [1]:
# Import necessary libraries

import pandas as pd
import numpy as np

In [2]:
# Load dataset

application = pd.read_csv("../dataset/application_record.csv")
credit = pd.read_csv("../dataset/credit_record.csv")

In [3]:
application.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [4]:
credit.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [5]:
credit_summary = credit.groupby(['ID', 'STATUS'], as_index=False).agg('count')
credit_summary = credit_summary.drop('MONTHS_BALANCE', axis=1)
credit_summary

            ID STATUS
0      5001711      0
1      5001711      X
2      5001712      0
3      5001712      C
4      5001713      X
...        ...    ...
94138  5150483      X
94139  5150484      0
94140  5150484      C
94141  5150485      0
94142  5150487      C

[94143 rows x 2 columns]

In [6]:
due_client = credit_summary[credit_summary['STATUS']=='1']
due_client = due_client['ID'].unique().tolist()
due_client

[5001718,
 5001720,
 5001757,
 5001786,
 5001792,
 5001793,
 5001816,
 5001817,
 5001836,
 5001844,
 5001848,
 5001856,
 5001888,
 5001896,
 5001918,
 5001922,
 5001923,
 5001926,
 5001927,
 5001933,
 5001959,
 5001988,
 5002042,
 5002044,
 5002061,
 5002085,
 5002091,
 5002105,
 5002108,
 5002123,
 5002126,
 5002128,
 5002154,
 5002219,
 5002220,
 5002225,
 5002230,
 5002232,
 5002245,
 5002253,
 5002254,
 5002255,
 5002274,
 5002279,
 5002283,
 5002294,
 5002297,
 5002303,
 5002331,
 5002370,
 5002373,
 5002380,
 5002381,
 5002413,
 5002428,
 5002433,
 5002446,
 5002482,
 5002488,
 5002489,
 5002501,
 5002502,
 5002507,
 5002527,
 5002538,
 5002544,
 5002545,
 5002559,
 5002568,
 5002575,
 5002595,
 5002638,
 5002639,
 5002642,
 5002695,
 5002715,
 5002717,
 5002719,
 5002720,
 5002734,
 5002744,
 5002766,
 5002784,
 5002793,
 5002795,
 5002796,
 5002808,
 5002809,
 5002810,
 5002811,
 5002812,
 5002813,
 5002831,
 5002840,
 5002841,
 5002843,
 5002844,
 5002847,
 5002853,
 5002854,
 5002856,
 5002857,
 5002884,
 5002905,
 5002906,
 5002923,
 5002935,
 5002945,
 5002950,
 5002962,
 5002989,
 5002993,
 5002996,
 5003001,
 5003003,
 5003026,
 5003033,
 5003035,
 5003039,
 5003043,
 5003070,
 5003088,
 5003097,
 5003105,
 5003118,
 5003136,
 5003137,
 5003167,
 5003172,
 5003177,
 5003179,
 5003197,
 5003199,
 5003237,
 5003248,
 5003255,
 5003261,
 5003266,
 5003267,
 5003287,
 5003294,
 5003305,
 5003306,
 5003307,
 5003313,
 5003316,
 5003318,
 5003334,
 5003375,
 5003385,
 5003398,
 5003401,
 5003412,
 5003424,
 5003430,
 5003431,
 5003461,
 5003463,
 5003467,
 5003469,
 5003471,
 5003481,
 5003484,
 5003485,
 5003490,
 5003496,
 5003507,
 5003509,
 5003525,
 5003570,
 5003571,
 5003598,
 5003601,
 5003609,
 5003624,
 5003630,
 5003632,
 5003635,
 5003642,
 5003643,
 5003712,
 5003738,
 5003742,
 5003751,
 5003761,
 5003770,
 5003791,
 5003792,
 5003793,
 5003802,
 5003803,
 5003804,
 5003823,
 5003849,
 5003855,
 5003856,
 5003905,
 5003906,
 5003939,
 5003941,
 5003942,
 5003956,
 5003957,
 5003962,
 5003975,
 5003999,
 5004005,
 5004007,
 5004012,
 5004015,
 5004021,
 5004024,
 5004029,
 5004032,
 5004037,
 5004043,
 5004044,
 5004045,
 5004047,
 5004071,
 5004072,
 5004083,
 5004105,
 5004115,
 5004127,
 5004133,
 5004181,
 5004191,
 5004194,
 5004196,
 5004197,
 5004201,
 5004202,
 5004203,
 5004219,
 5004222,
 5004236,
 5004238,
 5004258,
 5004263,
 5004270,
 5004275,
 5004287,
 5004288,
 5004337,
 5004338,
 5004344,
 5004374,
 5004381,
 5004382,
 5004383,
 5004387,
 5004406,
 5004407,
 5004431,
 5004436,
 5004451,
 5004452,
 5004454,
 5004456,
 5004463,
 5004465,
 5004468,
 5004469,
 5004482,
 5004485,
 5004489,
 5004511,
 5004513,
 5004519,
 5004532,
 5004542,
 5004554,
 5004559,
 5004560,
 5004562,
 5004583,
 5004584,
 5004593,
 5004602,
 5004603,
 5004610,
 5004614,
 5004615,
 5004623,
 5004642,
 5004666,
 5004680,
 5004700,
 5004726,
 5004743,
 5004751,
 5004778,
 5004837,
 5004838,
 5004844,
 5004851,
 5004883,
 5004888,
 5004921,
 5004923,
 5004924,
 5004925,
 5004933,
 5005016,
 5005018,
 5005020,
 5005028,
 5005064,
 5005115,
 5005116,
 5005118,
 5005199,
 5005205,
 5005211,
 5005229,
 5005249,
 5005290,
 5005291,
 5005293,
 5005310,
 5005342,
 5005387,
 5005390,
 5005424,
 5005444,
 5005478,
 5005479,
 5005484,
 5005487,
 5005491,
 5005503,
 5005504,
 5005505,
 5005506,
 5005507,
 5005519,
 5005528,
 5005529,
 5005584,
 5005588,
 5005589,
 5005620,
 5005633,
 5005645,
 5005656,
 5005663,
 5005671,
 5005689,
 5005691,
 5005716,
 5005717,
 5005718,
 5005728,
 5005731,
 5005732,
 5005734,
 5005736,
 5005753,
 5005767,
 5005772,
 5005775,
 5005776,
 5005801,
 5005803,
 5005836,
 5005843,
 5005856,
 5005875,
 5005894,
 5008804,
 5008805,
 5008825,
 5008826,
 5008827,
 5008830,
 5008831,
 5008832,
 5008872,
 5008878,
 5008902,
 5008904,
 5008906,
 5008908,
 5008910,
 5008912,
 5008914,
 5008916,
 5008918,
 5008920,
 5008922,
 5008926,
 5008928,
 5008942,
 5008944,
 5008945,
 5008946,
 5008966,
 5008975,
 5008978,
 5009028,
 5009044,
 5009045,
 5009051,
 5009080,
 5009092,
 5009110,
 5009138,
 5009143,
 5009146,
 5009150,
 5009161,
 5009177,
 5009178,
 5009180,
 5009181,
 5009186,
 5009193,
 5009209,
 5009215,
 5009261,
 5009263,
 5009264,
 5009297,
 5009299,
 5009339,
 5009354,
 5009359,
 5009360,
 5009366,
 5009369,
 5009389,
 5009391,
 5009394,
 5009415,
 5009417,
 5009424,
 5009445,
 5009469,
 5009472,
 5009481,
 5009508,
 5009513,
 5009524,
 5009541,
 5009546,
 5009556,
 5009558,
 5009582,
 5009584,
 5009628,
 5009664,
 5009665,
 5009666,
 5009667,
 5009668,
 5009694,
 5009695,
 5009698,
 5009699,
 5009700,
 5009713,
 5009714,
 5009718,
 5009744,
 5009745,
 5009746,
 5009748,
 5009749,
 5009750,
 5009752,
 5009753,
 5009754,
 5009755,
 5009796,
 5009825,
 5009843,
 5009856,
 5009873,
 5009875,
 5009897,
 5009908,
 5009909,
 5009914,
 5009916,
 5009917,
 5009918,
 5009938,
 5009940,
 5009944,
 5009955,
 5009967,
 5009979,
 5009983,
 5010002,
 5010003,
 5010004,
 5010020,
 5010023,
 5010025,
 5010047,
 5010053,
 5010067,
 5010093,
 5010114,
 5010138,
 5010139,
 5010143,
 5010145,
 5010146,
 5010165,
 5010166,
 5010170,
 5010190,
 5010199,
 5010226,
 5010231,
 5010236,
 5010268,
 5010272,
 5010277,
 5010296,
 5010298,
 5010334,
 5010360,
 5010363,
 5010369,
 5010389,
 5010402,
 5010408,
 5010420,
 5010429,
 5010448,
 5010466,
 5010468,
 5010470,
 5010472,
 5010491,
 5010494,
 5010535,
 5010537,
 5010538,
 5010541,
 5010566,
 5010603,
 5010628,
 5010656,
 5010661,
 5010690,
 5010691,
 5010694,
 5010764,
 5010768,
 5010770,
 5010819,
 5010823,
 5010838,
 5010839,
 5010840,
 5010844,
 5010850,
 5010864,
 5010868,
 5010869,
 5010894,
 5010897,
 5010908,
 5010923,
 5010948,
 5010961,
 5010980,
 5010990,
 5010991,
 5010992,
 5010994,
 5010995,
 5010997,
 5010998,
 5011000,
 5011009,
 5011011,
 5011031,
 5011048,
 5011079,
 5011080,
 5011090,
 5011119,
 5011127,
 5011129,
 5011136,
 5011138,
 5011139,
 5011140,
 5011149,
 5011170,
 5011194,
 5011248,
 5011262,
 5011294,
 5011327,
 5011354,
 5011386,
 5011403,
 5011404,
 5011426,
 5011455,
 5011456,
 5011457,
 5011458,
 5011468,
 5011470,
 5011480,
 5011497,
 5011527,
 5011528,
 5011547,
 5011572,
 5011604,
 5011608,
 5011613,
 5011653,
 5011659,
 5011661,
 5011667,
 5011671,
 5011672,
 5011674,
 5011675,
 5011699,
 5011701,
 5011705,
 5011716,
 5011718,
 5011719,
 5011741,
 5011791,
 5011793,
 5011795,
 5011809,
 5011813,
 5011814,
 5011815,
 5011821,
 5011833,
 5011838,
 5011840,
 5011860,
 5011863,
 5011892,
 5011908,
 5011926,
 5011938,
 5011959,
 5012002,
 5012071,
 5012074,
 5012077,
 5012089,
 5012092,
 5012099,
 5012102,
 5012112,
 5012122,
 5012175,
 5012177,
 5012180,
 5012196,
 5012243,
 5012247,
 5012270,
 5012274,
 5012326,
 5012338,
 5012339,
 5012340,
 5012365,
 5012431,
 5012450,
 5012451,
 5012467,
 5012478,
 5012480,
 5012503,
 5012506,
 5012538,
 5012543,
 5012545,
 5012577,
 5012615,
 5012637,
 5012640,
 5012648,
 5012664,
 5012668,
 5012669,
 5012680,
 5012681,
 5012706,
 5012707,
 5012726,
 5012740,
 5012741,
 5012745,
 5016236,
 5016237,
 5016263,
 5016275,
 5016287,
 5016292,
 5016310,
 5016311,
 5016336,
 5016376,
 5016382,
 5016388,
 5016389,
 5016396,
 5016399,
 5016400,
 5016412,
 5016413,
 5016435,
 5016442,
 5016461,
 5016464,
 5016491,
 5016536,
 5016542,
 5016544,
 5016553,
 5016586,
 5016590,
 5016591,
 5016597,
 5016614,
 5016615,
 5016644,
 5016648,
 5016661,
 5016668,
 5016679,
 5016683,
 5016685,
 5016686,
 5016696,
 5016726,
 5016728,
 5016731,
 5016733,
 5016738,
 5016739,
 5016744,
 5016769,
 5016787,
 5016791,
 5016801,
 5016804,
 5016805,
 5016813,
 5016817,
 5016847,
 5016875,
 5016892,
 5016895,
 5016896,
 5016905,
 5016931,
 5016974,
 5016990,
 5016991,
 5017019,
 5017021,
 5017026,
 5017027,
 5017060,
 5017061,
 5017079,
 5017102,
 5017141,
 5017142,
 5017168,
 5017169,
 5017170,
 5017171,
 5017177,
 5017183,
 5017184,
 5017185,
 5017201,
 5017202,
 5017203,
 5017212,
 5017225,
 5017235,
 5017255,
 5017269,
 5017316,
 5017372,
 5017381,
 5017397,
 5017398,
 5017407,
 5017413,
 5017414,
 5017426,
 5017427,
 5017446,
 5017447,
 5017448,
 5017449,
 5017457,
 5017466,
 5017468,
 5017470,
 5017471,
 5017475,
 5017477,
 5017478,
 5017492,
 5017495,
 5017507,
 5017540,
 5017548,
 5017597,
 5017598,
 5017624,
 5017634,
 5017642,
 5017652,
 5017653,
 5017654,
 5017658,
 5017662,
 5017663,
 5017683,
 5017699,
 5017715,
 5017718,
 5017723,
 5017732,
 5017736,
 5017742,
 5017747,
 5017769,
 5017779,
 5017797,
 5017835,
 5017843,
 5017844,
 5017845,
 5017857,
 5017862,
 5017867,
 5017874,
 5017902,
 5017905,
 5017907,
 5017923,
 5017929,
 5017964,
 5017965,
 5017966,
 5017969,
 5017976,
 5017989,
 5017995,
 5018004,
 5018017,
 5018018,
 5018024,
 5018048,
 5018057,
 5018058,
 5018065,
 5018080,
 5018106,
 5018107,
 5018122,
 5018124,
 5018133,
 5018151,
 5018152,
 5018226,
 5018238,
 5018287,
 5018298,
 5018307,
 5018323,
 5018365,
 5018377,
 5018383,
 5018408,
 5018412,
 5018414,
 5018421,
 5018429,
 5018430,
 5018433,
 5018496,
 5018498,
 5018501,
 5018503,
 5021192,
 5021207,
 5021211,
 5021224,
 5021228,
 5021231,
 5021237,
 5021238,
 5021239,
 5021240,
 5021241,
 5021243,
 5021244,
 5021256,
 5021260,
 5021264,
 5021265,
 5021303,
 5021310,
 5021314,
 5021319,
 5021346,
 5021353,
 5021360,
 5021362,
 5021371,
 5021376,
 5021383,
 5021384,
 5021386,
 5021389,
 5021394,
 5021403,
 5021444,
 5021453,
 5021471,
 5021474,
 5021475,
 5021482,
 5021486,
 5021493,
 5021552,
 5021566,
 5021569,
 5021608,
 5021609,
 5021611,
 5021627,
 5021628,
 5021639,
 5021640,
 5021641,
 5021643,
 5021646,
 5021648,
 5021653,
 5021655,
 5021680,
 5021682,
 5021683,
 5021684,
 5021703,
 5021704,
 5021706,
 5021707,
 5021709,
 5021717,
 5021727,
 5021746,
 5021802,
 5021849,
 5021854,
 5021862,
 5021874,
 5021879,
 5021881,
 5021916,
 5021917,
 5021923,
 5021960,
 5021972,
 5021974,
 5021975,
 5021984,
 5021986,
 5021998,
 5022044,
 5022066,
 5022087,
 5022089,
 5022132,
 5022133,
 5022186,
 5022193,
 5022200,
 5022212,
 5022213,
 5022218,
 ...]

In [7]:
client_status = []
for client in application['ID']:
    if client in due_client:
        value = 1
    else:
        value = 0
    client_status.append(value)

In [8]:
client_status

[1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 ...]

In [9]:
application['status'] = client_status

In [10]:
application.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,status
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0

In [11]:
application['status'].value_counts(normalize=True)

0    0.990539
1    0.009461
Name: status, dtype: float64